In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('data/agg_data/rj.csv')
df

          CGC_HOSP  MUNIC_RES  HOSPITALIZACOES
0     394544020291     330455                2
1     394544020372     330455                5
2     394544020372     330510                1
3     394544020453     330455                2
4     394544021000     330285                1
..             ...        ...              ...
59  42498717012595     330395                1
60  42498717012595     330630                1
61  44113528000142     330515                1
62  53221255004995     330285                1
63  60922168002553     330095                1

[64 rows x 3 columns]

In [9]:
df2 = df.loc[df.groupby('MUNIC_RES')['HOSPITALIZACOES'].idxmax()]
df2

          CGC_HOSP  MUNIC_RES  HOSPITALIZACOES
11  26830623000185     330010                5
28  31424245000170     330030                1
14  29138278003208     330045                8
49  33781055001026     330070                1
63  60922168002553     330095                1
31  31506306000300     330100                2
53  34023077000280     330170                4
57  39547500000345     330185                1
40  33540014001714     330190                1
27  29640612000120     330220                1
15  29138278003208     330227                3
56  34427616000165     330270                1
50  33781055001026     330285                2
17  29138278003208     330320                1
42  33540014001714     330330                4
18  29138278003208     330350               19
21  29138344001549     330390                1
59  42498717012595     330395                1
29  31424245000170     330400                1
30  31460017000155     330420                2
37  33540014000238     330452                3
51  33781055001026     330455               18
9    5797356000111     330470                2
35  32556060002800     330490                1
12  28902229000130     330500                3
20  29138278003208     330510                3
61  44113528000142     330515                1
32  32354011001219     330610                6
13  29063294000182     330630                4

In [5]:
df2

          CGC_HOSP  MUNIC_RES  HOSPITALIZACOES
11  26830623000185     330010                5
28  31424245000170     330030                1
14  29138278003208     330045                8
49  33781055001026     330070                1
63  60922168002553     330095                1
31  31506306000300     330100                2
53  34023077000280     330170                4
57  39547500000345     330185                1
40  33540014001714     330190                1
27  29640612000120     330220                1
15  29138278003208     330227                3
56  34427616000165     330270                1
50  33781055001026     330285                2
17  29138278003208     330320                1
42  33540014001714     330330                4
18  29138278003208     330350               19
21  29138344001549     330390                1
59  42498717012595     330395                1
29  31424245000170     330400                1
30  31460017000155     330420                2
37  33540014000238     330452                3
51  33781055001026     330455               18
9    5797356000111     330470                2
35  32556060002800     330490                1
12  28902229000130     330500                3
20  29138278003208     330510                3
61  44113528000142     330515                1
32  32354011001219     330610                6
13  29063294000182     330630                4

In [8]:
df2['CGC_HOSP'].unique().shape

(21,)